@font-face {
  font-family: 'gazzetta-variable';
  src: url(https://use.typekit.net/af/2058c2/0000000000000000774b9a94/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3) format('woff2'),
    url(https://use.typekit.net/af/2058c2/0000000000000000774b9a94/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3) format('woff'),
    url(https://use.typekit.net/af/2058c2/0000000000000000774b9a94/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3) format('opentype');
  font-weight: 1 1000;
  font-style: normal;
  font-stretch: normal;
  font-display: swap;
  font-feature-settings: "kern" 1;
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smooth: always;
  text-rendering: optimizeLegibility;
  font-synthesis: none;
}

html.lenis {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}

.global_nav_contain {
  pointer-events: none;
}

.global_nav_contain>* {
  pointer-events: none;
}

.logo-carousel.splide {
  -webkit-mask-image: linear-gradient(to right, transparent, black 15%, black 85%, transparent 100%);
  mask-image: linear-gradient(to right, transparent, black 15%, black 85%, transparent 100%);
}

@media (hover: hover) and (pointer: fine) {
  .custom-cursor {
    width: 40px;
    height: 40px;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    position: fixed;
    pointer-events: none;
    z-index: 999;
    opacity: 0;
    transition:
      opacity 0.3s ease-out,
      transform 0.2s ease-out;
    transform: translate(-50%, -50%);
    mix-blend-mode: normal;
    backdrop-filter: invert(1);
    -webkit-backdrop-filter: invert(1);
  }

  .custom-cursor.hover {
    transform: translate(-50%, -50%) scale(1.5);
    backdrop-filter: invert(1) blur(2px);
    -webkit-backdrop-filter: invert(1) blur(2px);
  }
}

.team_wrap .title_contain .section_team_grid_wrap .section_team_grid_item .section_team_grid_item_text_wrap_hidden_wrap {
  transform: translateY(-60px);
}

.feed_grid,
.other_creators_carousel_contain_inner {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none;
  -ms-overflow-style: none;
  gap: 3rem;
  cursor: grab;
  width: 100%;
}

.feed_grid::-webkit-scrollbar {
  display: none;
}

.feed_grid_item,
.other_creators_carousel_contain_inner_item {
  scroll-snap-align: center;
  flex: 0 0 85%;
  min-width: 280px;
}

.feed_grid:active {
  cursor: grabbing;
}

.preloader {
  display: flex;
}

.other_creators_carousel_contain,
.feed_grid {
  mask-image: linear-gradient(to right, transparent, black 5%, black 95%, transparent);
  -webkit-mask-image: linear-gradient(to right, transparent, black 5%, black 95%, transparent);
}

/* .other_creators_carousel_contain>* {
  scroll-snap-align: center;
} */

.global_nav .global_nav_contain_logo_wrap {
  transition:
    opacity 0.8s ease-out 0.2s,
    filter 0.8s ease-out 0.2s;
}

.global_nav.visible .global_nav_contain_logo_wrap {
  opacity: 0;
  filter: blur(4px);
}

dialog {
  transition:
    display 1s allow-discrete,
    overlay 1s allow-discrete;
  animation: close 1s forwards;
  align-self: center;
  border: unset;
  background-color: var(--theme--background);
}

dialog[open] {
  animation: open 1s forwards;
  box-shadow: 0 0 15px 0 var(--swatch--dark-faded);
}

dialog::backdrop {
  background-color: var(--swatch--dark-faded);
  backdrop-filter: blur(7.5px);
  -webkit-backdrop-filter: blur(7.5px);
  animation: backdrop-fade 0.8s ease-out forwards;
}

/* .custom_text_wrap {
  overflow: hidden;
} */

@keyframes backdrop-fade {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}


@keyframes open {
  from {
    opacity: 0
  }

  to {
    opacity: 1
  }
}

@keyframes close {
  from {
    opacity: 1
  }

  to {
    opacity: 0
  }
}

.creators_dialog {
  padding: 3rem;
}

.creators_dialog .creators_dialog_form {
  overflow-y: scroll;
  height: 100%;
}

.creators_dialog .creators_dialog_form .creators_dialog_form_close_button {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 2rem;
  height: 2rem;
  z-index: 3;
}

.creators_dialog .creators_dialog_form .creators_dialog_form_image_desktop {
  display: none;
}

.about_us_footer_grid {
  container-type: inline-size;
}

.about_us_footer_grid h3.u-color-sprouts.u-text-style-h2-footer {
  margin: 0;
  display: flex;
  font-size: 27cqi;
  letter-spacing: 0.01em;
  line-height: 0.9em;
}

@media (width > 768px) {

  .global_nav.visible .global_nav_contain_logo_wrap {
    opacity: 0;
    filter: blur(0px);
  }

  .feed_grid {
    display: grid;
    cursor: default;
  }

  .feed_grid_item:nth-child(n + 1):nth-child(-n + 3):nth-child(odd),
  .feed_grid_item:nth-child(n + 6):nth-child(-n + 8):nth-child(odd) {
    margin-top: 150px;
  }

  .feed_grid_item:nth-child(5) {
    margin-top: -150px;
  }

  .other_creators_carousel_contain_inner_item {
    flex-shrink: 0;
    flex: 0 0 24rem;
    min-width: unset;
  }
}

@media (width >=992px) {

  section[data-first-section-after-header] {
    margin-top: -10.5rem !important;
  }

  .about_us_footer_grid h3.u-color-sprouts.u-text-style-h2-footer {
    font-size: 13.2cqi;
  }

  .global_nav .global_nav_contain_logo_wrap {
    transition: none;
  }

  .creators_dialog .creators_dialog_form {
    overflow: hidden;
    height: auto;
  }

  .creators_dialog .creators_dialog_form .creators_dialog_form_image_desktop {
    display: block;
  }

  .creators_dialog .creators_dialog_form .creators_dialog_form_image_mobile {
    display: none;
  }

  .nav_links_link.is-desktop.w--current {
    position: relative;
  }

  .nav_links_link.is-desktop.w--current::before {
    content: '';
    position: absolute;
    left: -0.5rem;
    top: 50%;
    transform: translateY(-50%);
    width: 8px;
    height: 8px;
    background-color: currentColor;
    border-radius: 50%;
  }

  .team_wrap .title_contain .section_team_grid_wrap .section_team_grid_item .section_team_grid_item_text_wrap_hidden_wrap {
    transform: translateY(20px);
  }

  .team_wrap .title_contain .section_team_grid_wrap .section_team_grid_item:hover .section_team_grid_item_text_wrap_hidden_wrap {
    transform: translateY(-60px);
  }
}